export PORT="3000"
export RAILS_ENV="production"
export RAILS_MAX_THREADS=5
export RAILS_SERVE_STATIC_FILES=true
export RAILS_SESSION_KEY="_pages_session"
export RAILS_MEMCACHE_NAMESPACE="pages"
export WEB_CONCURRENCY=2
export DISABLE_SPRING=true

export PMP_DB="production"
export PMP_DB_HOST="localhost"
export PMP_DB_USERNAME="user"
export PMP_DB_PASSWORD='pass'

export PMP_NOID_TEMPLATE="d.reeddeeddk"

export PMP_FEDORA_URL="https://localhost/rest"
export PMP_FEDORA_BASE="/pmp"
export PMP_FEDORA_USER="user"
export PMP_FEDORA_PASS="pass"

export PMP_SOLR_URL="http://localhost:8080/solr/production"

export PMP_IIIF_URL="https://localhost/loris"
export PMP_MASTER_FILE_SERVICE_URL="http://localhost/master"
export PMP_ACCESS_FILE_SERVICE_URL="http://localhost/access"
export PMP_DERIVATIVES_PATH="/srv/loris-prod/images"
export PMP_UPLOAD_PATH=`pwd`/tmp/uploads
if [ ! -d $PMP_UPLOAD_PATH ]; then echo "Warning: Upload path $PMP_UPLOAD_PATH does not exist."; fi
export PMP_STORE_ORIGINAL_FILES="false"

export PMP_MANIFEST_SEE_ALSO_URL="http://localhost/iucatextract?maximumRecords=1&operation=searchRetrieve&query=cql.serverChoice=%s&recordSchema=marcxml&version=1.1"

export PMP_LDAP_AUTHORIZED_GROUPS="AuthorizedGroup"
export PMP_LDAP_HOST="ads.example.net"
export PMP_LDAP_TREE="dc=ads,dc=example,dc=net"
export PMP_LDAP_ACCOUNT_OU="ou=Accounts"
export PMP_LDAP_GROUP_OU="ou=BL"
export PMP_LDAP_USER="user,ou=Accounts,dc=ads,dc=example,dc=net"
export PMP_LDAP_PASS="FIXME"

export PMP_MAILER_URL=localhost
export PMP_MAILER_ADDRESS=pumpkin@localhost

export PMP_SECRET_KEY_BASE="FIXME"
